/* Body */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;background-color: hsl(0,0,95%);
  background-image: linear-gradient(135deg, #F7D9D7 10%, #C3DEB6 90%);   
}

/* Calculator */

#calculator-border {
  display: inline-block;
  background-color: #dd9393;  
  border-radius: 20px;
  padding: 20px;
}

#calculator {
  font-family: "Roboto", sans-serif;
  background-color: #FAF9F0;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}


.top-row {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  align-items: center;            
  gap: 1rem;                    
}

/* Rows */

.row1 {
  background-color: #E6C1D2;
}

.row2 {
  background-color: #FAE7E3;
}

.row3 {
  background-color: #C3DEB6;
}

.row4 {
  background-color: #9BCCB5;
}


/* Display */

#display  {
  margin: -10px 0px -30px -20px;
  width: 100%;
  background-color: #a35c5c;   
  height: 100px;                
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  color: white;
  font-size: 3rem;
  text-align: right;
  box-sizing: border-box;
}


/* Buttons*/

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #dccae1;
}

button:active {
  background-color: #c0d5c9;
}

.operator-btn {
  background-color: #9BCCB5; 
}

.clear-btn {
  margin: 20px 25px -10px;
  justify-self: center;        
  border-radius: 50%;
  background-color: #d99cb8;   
  color: white;
  border: none;
}

.equal, .zero-btn {
  background-color: #9BCCB5; 
}

.plus, .clear-btn{
    background-color: #e0aecd; 
}

.minus {
    background-color: #f4dcdb; 
}

.times {
    background-color: #a8d396; 
}
